* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    vertical-align: baseline;
}

/*--------------------------------------------NAVBAR-----ANIDADO------------------------------------------*/

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 5%;
    display: flex;
    align-items: center;
    z-index: 100;

    &.fixed-top {
        position: fixed;
    }
}

.navbar {
    background-color: #110341;
    height: 70px;
    margin: 8px;
    border-radius: 16px;
    padding: 0.5rem;

    .navbar-nav {
        justify-content: end;
        flex-grow: 1;
    }

    .navbar-brand {
        font-weight: 800;
        color: #fff;
        font-size: 24px;
    }

    .navbar-toggler {
        border: none !important;
        font-size: 30px;
        color: #ffffff;

        &:focus {
            box-shadow: none !important;
            outline: none !important;
        }
    }

    .nav-link {
        color: #fff;
        font-weight: 500;
        position: relative;

        &:hover {
            color: #000000;
        }
    }
}

/*------------------------------------------------INDEX----ANIDADO--------------------------------------------*/

.social-media {
    margin: 0 auto 0 50px;

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 6px;
        text-decoration: none;
        margin-right: 10px;
        transition: .5s;

        &:hover {
            background: #fff;
        }

        i {
            font-size: 20px;
            color: #fff;
            transition: .5s;
        }

        &:hover i {
            color: #444;
        }
    }
}

.slide-index {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-image: url('../imagenes/portada.jpg');
    background-size: cover;
    display: flex;
    align-items: center;

    .left-info {
        background: rgba(255, 255, 255, .1);
        backdrop-filter: blur(20px);
        width: 50%;
        min-height: 100vh;
        max-height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .penetrate-blur {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            h1 {
                font-size: 170px;
                color: #110341;
                align-self: flex-end;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #202020;

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
                margin: 10px 0 15px;
                color: #202020;
            }

            .btn {
                display: inline-block;
                padding: 13px 28px;
                background: #ffffff;
                border: 2px solid #150846;
                border-radius: 50px;
                box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                font-size: 16px;
                color: #000000;
                text-decoration: none;
                font-weight: 600;
                transition: .5s;

                &:hover {
                    background: transparent;
                    color: #fff;
                }
            }
        }
    }

    .right-info {
        width: 50%;
        min-height: 100vh;
        max-height: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 15%;

        h2 {
            font-size: 170px;
            color: #fff;
        }

        h3 {
            position: absolute;
            font-size: 60px;
            color: #fff;
            text-shadow: 0 0 10px rgba(0, 0, 0, .5);
            transform: translateY(150%);
            margin-left: 13px;
            margin-top: 5px;
        }
    }
}

/* Estilos generales para pantallas hasta 767px */
@media (max-width: 767px) {
    .social-media {
        margin: 0;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .social-media a {
        margin-right: 8px;
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    .slide-index {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;

        .left-info {
            width: 100%;
            padding: 0 20px;
            min-height: auto;
            align-items: center;

            .penetrate-blur {
                justify-content: center;

                h1 {
                    font-size: 100px;
                    align-self: center;
                }
            }

            .content {
                margin-top: 20px;
                text-align: center;

                h3 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .btn {
                    padding: 10px 20px;
                    font-size: 14px;
                }
            }
        }

        .right-info {
            width: 100%;
            padding: 0 20px;
            min-height: auto;
            justify-content: center;
            align-items: center;
            padding-bottom: 0;
            margin-top: 20px;

            h2 {
                font-size: 100px;
            }

            h3 {
                font-size: 40px;
                transform: translateY(50%);
            }
        }
    }
}

/* Estilos para pantallas entre 768px y 992px */
@media (min-width: 768px) and (max-width: 992px) {
    .social-media {
        margin-right: 30px;
    }

    .left-info {
        padding-bottom: 10%;
        min-height: 90vh;

        .penetrate-blur {
            justify-content: flex-start;

            h1 {
                font-size: 120px;
            }
        }

        .content {
            h3 {
                font-size: 26px;
            }

            p {
                font-size: 18px;
                margin-bottom: 15px;
            }

            .btn {
                padding: 15px 30px;
                font-size: 18px;
            }
        }
    }

    .right-info {
        padding-bottom: 10%;
    }
}

/* Estilos para pantallas mayores a 992px */
@media (min-width: 993px) {
    .social-media {
        margin: 0 auto 0 50px;
    }

    .slide-index {
        padding: 60px 0;

        .left-info {
            width: 50%;
            min-height: 100vh;
            padding: 0;
        }

        .right-info {
            width: 50%;
            min-height: 100vh;
            padding-bottom: 15%;
        }
    }
}

/*-----------------------------------------OBJETIVOS COLUMNAS----ANIDADO------------------------------------*/

.colum {
    padding: 20px;
    text-align: center;
    color: #fff;

    i {
        font-size: 45px;
        color: white;
    }

    &:hover {
        transition: .5s;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
        transform: translate(0%);
    }

    h3 {
        font-size: 25px;
        font-weight: 700;
        margin: 10px 0;
    }

    p {
        font-size: 20px;
    }
}

/*---------------------------------------------INFO PÁG 3----------------------------------------*/

.titulo-pag-3 {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------------------PRIMERAS CARDS---ANIDADO-------------------------------------*/

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;

    .card {
        width: 100%;
        margin: 20px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
        background: #b5bdeb;
        transition: all 400ms ease;

        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
            transform: translate(-3%);
        }

        .card-body {
            padding: 15px;
            text-align: center;
        }

        .card-img-top {
            width: 100%;
            height: auto;
        }

        .card-title {
            font-size: 25px;
            margin-bottom: 15px;
            color: #0e0029;
            font-weight: 700;
        }

        .card-text {
            color: #0e0029;
            font-size: 16px;
            line-height: 1.3;
        }
    }
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #0e0029;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 16px;
    color: #ffffff;
    cursor: pointer;
}

/*------------------------------------------------SEGUNDAS CARDS---ANIDADO---------------------------------*/

.carta {
    width: 23rem;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
    background: #b5bdeb;
    transition: all 400ms ease;

    .carta-body {
        padding: 15px;
        text-align: center;
    }

    &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
        transform: translate(-3%);
    }

    .carta-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
    }

    .carta-title {
        font-size: 25px;
        margin-bottom: 15px;
        color: #0e0029;
        font-weight: 700;
    }

    .carta-text {
        color: #0e0029;
        font-size: 16px;
        line-height: 1.3;
    }
}

/*-------------------------------------GALERÍA INSPÍRATE PÁG 4-------ANIDADO-------------------------------*/

.info {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        width: 50%;
    }
}

.d-item {
    height: 450px;
}

#carouselExampleCaptions {
    margin-bottom: 70px;
}

.d-img {
    height: 100%;
    object-fit: cover;
}

.titulo-carrusel {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

.texto-carrusel {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

/*----------------------------------------------FORMULARIO / PÁG 5--------------------------------------------*/

.container {

    .col {
        width: 33, 33%;
    }

    h2 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
    }

    p {
        color: #fff4d5;
        font-size: 18px;
    }

    img-contac {
        width: 30px;
        height: 40px;
    }
}

/*--------------------------------------------------FOOTER------ANIDADO-----------------------------------------*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #110341;
    color: white;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .social-media {
        margin-top: 10px;
        /* Añade espacio entre los dos divs cuando están apilados */
    }
}
