/*----------------------------------------------FORMULARIO / PÁG 5--------------------------------------------*/

.container {

    .col {
        width: 33, 33%;
    }

    h2 {
        color: $font-color;
        font-size: 20px;
        font-weight: 700;
    }

    p {
        color: $font-color;
        font-size: 18px;
    }

    img-contac {
        width: 30px;
        height: 40px;
    }
}
