/*------------------------------------------------INDEX----ANIDADO--------------------------------------------*/
html, body {
    height: 100%
}

.social-media {
    margin: 0 auto 0 50px;

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid $font-color;
        border-radius: 6px;
        text-decoration: none;
        margin-right: 10px;
        transition: .5s;

        &:hover {
            background: $font-color;
        }

        i {
            font-size: 20px;
            color: $font-color;
            transition: .5s;
        }

        &:hover i {
            color: $hover-color;
        }
    }
}
//-----------------CONTENIDO-----------------//

.header-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 75px;
        color: $font-color;
        margin-bottom: 50px;
    }

    p {
        font-size: 20px;
        color: $font-color;
        width: 50%;
    }
}

.btn-1 {
    margin-top: 50px;
    text-decoration: none;
    display: inline-block;
    padding: 11px 35px;
    background-color: $back-color;
    color: $font-color;
    font-weight: 700;
    border: 2px solid $back-color;
    border-radius: 50px;
    transition: ease 0.5s;

    &:hover {
        background-color: $card-color;
    }
}