/*--------------------------------------------CONTENIDO INDEX----ANIDADO--------------------------------------------*/

body {
    background-image: linear-gradient(to right, $back-color, $back-g-color);
}

.container {
    min-height: 100vh;
    display: flex;
}

.container__left {
    flex: 1;
    background-image: url("../imagenes/fondo.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left__content {
    margin: 5rem 3rem 0 auto;
    padding: 1rem;
    max-width: 400px;
    text-align: center;
}

.left__content h4 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
    color: $font-color;
}

.left__content p {
    color: $font-color;
    font-weight: 500;
}

.container__right {
    flex: 1.5;
    position: relative;
}

.right__content {
    text-align: center;
    max-width: 600px;
    margin-left: 8rem;
    margin-top: 8rem;
    padding: 2rem;
}

.right__content h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    color: $font-color;
}

.right__content h4 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: $font-color;
}

.right__content p {
    margin-bottom: 3rem;
    color: $font-color;
}

.btn {
    margin-bottom: 3rem;
    min-width: 120px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    outline: none;
    text-decoration: none;
    border: 1px solid $card-color;
    border-radius: 50px;
    cursor: pointer;
}

.primary__btn {
    margin-right: 1rem;
    color: $font-color;
    background-color: #110341;
}

.secondary__btn {
    color: $font-color;
    background-color: transparent;
}






